
    /**
     * Coffee Studio's <b>java-spring-security-oauth2-plugin</b> configuration:<br/><br/>
     *
     * That's a simple way to guarantee that essential configuration properties set by this plugin are correctly defined
     * as expected in both {@code application.yaml} and {@code application-test.yaml} files.
     */
    @Test
    @DisplayName("validate 'java-spring-security-oauth2-plugin' configuration properties")
    void validateSpringSecurityOAuth2ResourceServerPluginConfig() {
        assertAll("spring jpa config",
                () -> _assertPropertyEquals("http://localhost:18080/realms/my-app-realm", "spring.security.oauth2.resourceserver.jwt.issuer-uri"),
                () -> _assertPropertyEquals("http://localhost:18080/realms/my-app-realm/protocol/openid-connect/certs", "spring.security.oauth2.resourceserver.jwt.jwk-set-uri")
        );
    }

